PORT=8080
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=pega_aqui_tu_hash
SESSION_SECRET=cambia-esta-clave-secreta
FILE_ID=id-del-drive
CREDENTIALS_FILE=./credenciales.json
CORS_ORIGIN=http://localhost:3000,https://estoes.com.co,https://www.estoes.com.co
COOKIE_SAME_SITE=None
COOKIE_SECURE=true
